
type memfault_dumpster_service, service_manager_type;

add_service(dumpstate, memfault_dumpster_service)

# MemfaultDumpster exposes a binder service. MemfaultDumpster uses the dumpstate label.
# dumpstate (the program) runs, it goes through all services and tries to call dump.
# This won't be allowed and is expected to be denied. So, don't audit this access:
dontaudit dumpstate dumpstate:binder call;

# Allow setting the bort enabled property
set_prop(dumpstate, system_prop);

# Allow getting vendor.memfault.* props (Android 8 or below):
if_sdk_version_gteq(28, `', `
  get_prop(dumpstate, memfault_prop)
')

# Allow memfault_dumpster rw access to its data dir
allow dumpstate memfault_dumpster_data_file:dir rw_dir_perms;
allow dumpstate memfault_dumpster_data_file:file create_file_perms;

# Allow dropbox service to read the log data file
allow system_server memfault_dumpster_data_file:file r_file_perms;
