<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <receiver
            android:name=".receivers.BortTestReceiver"
            tools:ignore="ExportedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.memfault.intent.action.TEST_SETTING_SET_PROJECT_KEY" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.memfault.intent.action.TEST_BORT_ECHO" />
                <action android:name="com.memfault.intent.action.TEST_SELF_TEST" />
                <action android:name="com.memfault.intent.action.TEST_BORT_CHANGE_SOFTWARE_VERSION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
