<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:name=".TestOtaApp"
        tools:replace="android:name">
        <activity android:name=".UpdateActivity">
            <!-- Show the activity on launcher for debug -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".OtaTestReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.memfault.intent.action.TEST_BORT_OTA_ECHO" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
