
type memfault_structured, service_manager_type, domain;

typeattribute memfault_structured coredomain;

# Allow domain transition from init to memfault_structured
init_daemon_domain(memfault_structured)

# Allow memfault_structured to use binder
binder_use(memfault_structured)

# Allow memfault_structured to register a service with service manager
add_service(memfault_structured, memfault_structured_service)

# Allow apps to call memfault_structured
binder_call(appdomain, memfault_structured)

# Allow memfault_structured to find and call dropbox
allow memfault_structured dropbox_service:service_manager find;
binder_call(memfault_structured, dropbox_service)

# Allow memfault_structured to find the permission service
allow memfault_structured permission_service:service_manager find;

# Allow calling/sharing fds to/from the system server for dropbox
binder_call(memfault_structured, system_server)
binder_call(system_server, memfault_structured)

# Allow memfault_structured rw access to its data dir
allow memfault_structured memfault_structured_data_file:dir rw_dir_perms;
allow memfault_structured memfault_structured_data_file:file create_file_perms;

# Allow system server to read files for dropbox
allow system_server memfault_structured_data_file:file r_file_perms;

# Allow vendor_init to set memfault properties defined in {vendor,system}.prop
set_prop(vendor_init, memfault_prop)

# Allow dumpstate (via MemfaultDumpster) to add metrics
allow dumpstate memfault_structured:service_manager find;
binder_call(dumpstate, memfault_structured)

# Allow memfault_structured to send dump info to dumpstate
allow memfault_structured dumpstate:fd use;
allow memfault_structured dumpstate:fifo_file { getattr write };
