<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.memfault.structuredlogd"
          android:sharedUserId="android.uid.system">
    <application
            android:allowBackup="false"
            android:label="structuredlogd"
            android:name=".MemfaultStructuredLogdApp"
            android:persistent="true"
            tools:ignore="MissingApplicationIcon"
    />
</manifest>
