# Defines an init service called "memfault_dumpster", which is used to invoke the
# MemfaultDumpster program. See MemfaultDumpster.cpp for the source code of the
# program itself.

on post-fs-data
    mkdir /data/system/MemfaultDumpster/ 0700 root root
    wait /data/system/MemfaultDumpster/

service memfault_dumpster /system/bin/MemfaultDumpster
    class core
