service memfault-structured-logd /system/bin/MemfaultStructuredLogd
    user system
    group system log
    disabled

on post-fs-data
    mkdir /data/system/MemfaultStructuredLogd/ 0700 system system
    wait /data/system/MemfaultStructuredLogd/
    setprop vendor.memfault.data.ready 1

on property:vendor.memfault.data.ready=1 && property:persist.system.memfault.bort.enabled=1 && property:persist.system.memfault.structured.enabled=1
    start memfault-structured-logd

on property:persist.system.memfault.bort.enabled=0
    stop memfault-structured-logd

on property:persist.system.memfault.structured.enabled=0
    stop memfault-structured-logd
