# When MemfaultDumpster signals that Bort is ready, delete the /data/system/MemfaultStructuredLogd/ folder.
# This folder used to contain the "data" folder for the C++ AIDL Backend for ILogger, but was migrated
# to a Java app AIDL Backend managed by com.memfault.structuredlogd. Deleting the folder makes sure that we
# clean up the metrics database and other preferences which were previously located in that folder and now
# orphaned.

on post-fs-data
    mkdir /data/system/MemfaultStructuredLogd/ 0700 system system
    wait /data/system/MemfaultStructuredLogd/
    setprop vendor.memfault.data.ready 1

on property:vendor.memfault.data.ready=1 && property:persist.system.memfault.bort.enabled=1 && property:persist.system.memfault.structured.enabled=1
    rmdir /data/system/MemfaultStructuredLogd/
