
# Allow to set system properties "ctl.start" / "ctl.stop":
if_sdk_version_gteq(28, `
  set_prop(dumpstate, ctl_start_prop)
  set_prop(dumpstate, ctl_stop_prop)
',
`
  set_prop(dumpstate, ctl_default_prop)
  set_prop(dumpstate, ctl_bugreport_prop)
')

# Allow to connect to the dumpstate control socket:
unix_socket_connect(dumpstate, dumpstate, dumpstate)

allow dumpstate memfault_bugreport_data_file:dir create_dir_perms;
allow dumpstate memfault_bugreport_data_file:file create_file_perms;

get_prop(dumpstate, dumpstate_prop)
set_prop(system_app, dumpstate_prop)
