# Allow Bort OTA to write to /data/ota_package
allow priv_app ota_package_file:dir rw_dir_perms;
allow priv_app ota_package_file:file create_file_perms;
